:root {
    font-family: system-ui, sans-serif;
    color-scheme: light dark;
}

main {
    overflow-anchor: none;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

main {
    max-width: 40rem;
    padding: 2rem;
}
