<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Clan Wars Payouts</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <main>
            <h1>Clan Wars Payouts</h1>
            <!-- <p>Hello, world. Wargaming login coming next</p> -->
            <a href="/login">Click to log in with Wargaming</a>
            <p id="js-check">If you see this, JS hasn't loaded yet.</p>
        </main>
        <script src="/static/app.js"></script>
    </body>
</html>
